body {
    background-color: hsl(270, 20%, 96%);
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    height: 100vh;
  }
  .chat-app {
    width: 250px;
    height: 496.5px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    
  }

 
  .profile .left img {
    width: 25px;
    height: 25px;
    border: 1.56px solid white;
  }
  .header {
    background: linear-gradient(
      to right,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
    );
    border-radius: 20px 20px 8px 8px;
    
    height: 68px;
  }

  .space {
    background-color: white;
    height: 18px;
    width: 8rem;
    border-radius: 0px 0px 25px 25px;
  }
  .profile {
    color: white;
  }
  .left {
    display: flex;
    justify-content: space-around;
  }
  .name {
    font-size: 12px;
  }
  
  .status {
    font-size: 9.3px;
    color: hsl(276, 100%, 81%);
  }
  .bi-chevron-compact-left {
    font-size: 15px;
    
  }
  .bi-three-dots-vertical {
    font-size: 13px;
  }
  .chat-box {
    border-radius: 0px 0px 20px 20px;
    background-color: hsl(270, 20%, 96%);
  }

  .chat-box p {
    margin-bottom: 0rem;
  }

  .chat p{
    font-size: 8px;
    display: inline-block;
  }
   .chat-box .received p {
    background-color: hsl(0, 14%, 91%);
    color: hsl(276, 55%, 52%);
    border-radius: 10px 10px 10px 5px;
  }
  .images {
   
    
    display: flex;
    justify-content: flex-end;
  }
  .images img {
    width: 38px;
    border-radius: 10px;
  }
  
 .sent p {
    background-color: white;
    border-radius: 10px 10px 5px 10px;
    color: hsl(271, 15%, 43%);
  }
  
  .pricing {
    width: 175px;
    color: white;
    background-image: linear-gradient(to left,hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    border-radius: 10px 10px 10px 5px;
  }
  
  
  .price-about i {
    color: hsl(289, 92%, 85%);
    font-size: 9px;
  }
  
  .pricing p {
    font-size: 8px;
    margin-left: 5px;
    opacity: 0.8;
  }
  
   .pricing .price {
    font-size: 12px;
    font-weight: 700;
    opacity: 0.9;
  }

  .typing-box {
    background-color: white;
    height: 40px;
    border-radius: 50px;
  }

  .typing-box p {
    font-size: 12.5px;
    color: hsl(206, 6%, 79%);
    
  }

  .typing-box .send-btn {
    width: 30px;
    height: 30px;
    background-color: hsl(271, 36%, 24%);
   
    border-radius: 50%;
  }


   .send-btn i {
    color: white;
    font-size: 15px;
  }

  .booking .heading {
    color: hsl(271, 36%, 24%);
    font-weight: 500;
    font-size: 2.3rem;
  }
  
  .info {
    color: hsl(270, 7%, 64%);
    font-size: 1.1rem;
  }




  .left-back {
    background: linear-gradient(
      to top left,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
    );
    width: 50%;
    height: 400px;
    align-self: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0 1000px 0px;
  }
  .right-back {
    background-color: hsl(0, 14%, 91%);
    width: 50%;
    height: 400px;
    align-self: flex-start;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 1000px 0px 0px 0px;
  }

  @media only screen and (min-width: 992px) {
   main {
     justify-content: center;
     align-items: center;
   }
  
    .booking {
      margin-left: 100px;
    }
  
    
  
    .booking .info {
      width: 450px;
      text-align: left;
    }
  
    .left-back {
      width: 25%;
      border-radius: 0 0 1000px 1000px;
      height: 550px;
    }
  
    .right-back {
      width: 25%;
      height: 550px;
      border-radius: 1000px 0px 0px 0px;
    }
  }